.item{
    /* display: flex; */
    width: 310px;
    align-items: center;
    border:  2px solid #e6e6e6;
    border-radius: 20px;
    position: relative;
    height: 550px;
    overflow-y: hidden;
}
.item img{
    height: 250px;
    border-radius: 20px;
}
.item-info{
    margin: 10px;
}
.btn-cart{
    background-color: #0b072bad;
    color: white;
    width: 100%;
    border: 0;
    height: 2rem;
    border-radius: 0 0 20px 20px;
    position: absolute;
    bottom: 0;   
    width: 100%;
    justify-content: center;
    align-items: center;
}
.btn-cart:hover{
    color: aliceblue;
    background-color: rgb(39, 83, 226);
}
